$text: #212529;
$searchText: #bcb5bd;
$search: #eaedf0;
$trash: #fa5252;
$nonVisible: transparent;
$line: #e9ecef;
$activeItem: white;
$workspace: linear-gradient(180deg, rgba(248,249,250,1) 0%, rgba(222,226,230,1) 100%);
$workspaceRadius: #f9fafb;
$true: #15aabf;
