// text
$boldText: #212529;
$lightText: #868E96;
$searchText: #ADB5BD;
// components
$workspace: linear-gradient(180deg, #FFFFFF 0%, #DEE2E6 100%);
$searchBar: #F1F3F5;
$line: #e9ecef;
$searchBarRadius: hsla(0,0%,100%,.25);
// icons
$nonVisible: transparent;
$trash: #FA5252;
$true: #12B886;
$searchFalse: #ADB5BD;
$searchTrue: #15AABF;
$activeItem: white;
