// text
$boldText: #212529;
$lightText: #868E96;
// components
$workspace: linear-gradient(180deg, #FFFFFF 0%, #DEE2E6 100%);
$searchBar: #F1F3F5;
$line: #e9ecef;
$searchBarRadius: #f9fafb;
// icons
$nonVisible: transparent;
$trash: #FA5252;
$true: #12B886;
$activeItem: white;
